html, body {
    margin:0;
    padding:0;
    /*background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*font-family: 'Helvetica', sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 20px;
    /*background-color: #f7fff7;*/
}

#main {
  width: 800px;
  margin: 0 auto;
  background-color: white;
}

#container {
  width: 100%;
}

#nav {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
    -webkit-padding-start: 0px;
    /*margin: 0;
    padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: white;*/
    /*float: right;*/
}

#nav li {
    float: left;
    /*font-weight: bold;*/
}

#nav li.selected {
  font-weight: bold;
  background: url('../wind-icon.png') no-repeat left;

  padding-left: 10px;
  vertical-align: middle;
}

#nav li a {
    /*display: block;*/
    color: #cd5334;
    /*text-align: center;*/
    margin: 25px 15px;
    text-decoration: none;
}

#nav li a:hover {
    text-decoration: underline;
}

#menu-nav {
  display: none;
}

#content {
  margin: 14px 35px;
  padding-bottom: 50px;
  padding-top: 30px;
}

#title {
  font-weight: bold;
  color: #cd5334;
}

/*#title a {
  color: black;
  text-decoration: none;
  color: #AF1B3F
  color: #4ECDC4;
}*/

#subtitle {
  font-style: italic;
}

.text {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

#introduction {
  margin-top: 20px;
  margin-bottom: 20px;
}

#goal {
  margin-top: 20px;
  margin-bottom: 20px;
}

#whatnot {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin: 14px 35px;
  color: grey;
  font-size: 14px;
  text-align: center;
  height: 34px;
}

footer a {
  color: grey;
  text-decoration: none;
}

.speach {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

#logo {
  max-width: 550px;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto\9; /* ie8 */
}

#logo img {
  width: 100%;
}

.hidden {
  display: none;
}

input[type=url] {
  width: 90%;
}

input[type=submit] {
  border: none;
  background-color: white;
  color: #cd5334;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
}

@media (max-width: 1110px) {
  #main {
    width: 80%;
  }
}

@media (max-width: 850px) {
  #main {
    width: 90%;
  }
}

@media (max-width: 425px) {
  #main {
    width: 95%;
  }
}

@media (max-width: 375px) {
  #main {
    width: 100%;
  }
}

@media (max-height: 550px) {
  #logo {
    max-width: 250px;
  }
}

#result, #no-result {
  padding-top: 20px;
}