<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Between Our Worlds</title>

    <link rel="stylesheet" href="{{site.url}}/style.css">
    <link rel="stylesheet" href="{{site.url}}/github-markdown.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

    <script src="{{site.url}}/script.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main">
        <div id="content">
          <!-- <header><h1 id="title"><a href="/">Between Our Worlds</a></h1></header> -->
          <div id="logo">
            <a href="/"><img src="{{site.url}}/bow-logo.png"></a>
          </div>

          <div id="nav">
            <ul>
              <!-- <li {% if page.id == "usecases" %} class="selected" {% endif %}><a href="/usecases">use cases</a></li> -->
              <li {% if page.id == "data" %} class="selected" {% endif %}><a href="/data">data</a></li>
              <!-- <li {% if page.id == "tools" %} class="selected" {% endif %}><a href="/tools">tools</a></li> -->
              <li {% if page.id == "join" %} class="selected" {% endif %}><a href="/join">join</a></li>
            </ul>
          </div>

          <div class="markdown-body">
            {{ content }}
          </div>

          <footer>&copy; 2017 by Between Our Worlds. All Rights Reserved.</footer>
        </div>
      </div>
    </div>
  </body>
</html>
