<!DOCTYPE html>
<html lang="en" vocab="http://schema.org/" about="{{site.url}}" typeof="WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" property="keywords" content="Linked Data, Open Data, Linked Open Data,
    Between Our Worlds, triples, RDF, Anime, metadata, HDT, N-Triples, Triple Pattern Fragments, Linked Data Fragments">
    <meta name="description" content="{{site.description}}">

    <!-- Facebook Open Graph -->
    <meta name="og:description" content="{{ site.description }}">
    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:url" content="{{ site.url }}{{ site.baseurl }}">
    <meta name="og:image" content="{{site.url}}/img/logo-square.png">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}">
    <meta name="twitter:image" content="{{site.url}}/img/logo-square.png">

    <title>Between Our Worlds</title>

    <link rel="stylesheet" property="http://www.w3.org/ns/oa#styledBy" resource="{{site.url}}/github-markdown.css" href="{{site.url}}/css/github-markdown.css" typeof="http://www.w3.org/ns/oa#CssStyle">
    <link rel="stylesheet" property="http://www.w3.org/ns/oa#styledBy" resource="{{site.url}}/style.css" href="{{site.url}}/css/style.css" typeof="http://www.w3.org/ns/oa#CssStyle">

    {% for j in page.js %}
    <script src="{{site.url}}/js/{{j}}.js"></script>
    {% endfor %}
  </head>
  <body>
    <span class="hidden" property="lastReviewed dateModified" datatype="Date">{{site.time | date_to_xmlschema}}</span>
    <span class="hidden" rel="reviewedBy creator" resource="https://pieterheyvaert.com/#me"></span>
    <div id="container" rel="mainEntity about" resource="{{site.webid}}" typeof="Organization">
      <div id="main">
        <div id="content">
          <!-- <header><h1 id="title"><a href="/">Between Our Worlds</a></h1></header> -->
          <div id="logo">
            <a href="/"><img property="logo" src="{{site.url}}/img/logo.png"></a>
          </div>

          <div id="nav">
            <ul>
              <!-- <li {% if page.id == "usecases" %} class="selected" {% endif %}><a href="/usecases">use cases</a></li> -->
              <li {% if page.id == "data" %} class="selected" {% endif %}><a href="/data">data</a></li>
              <li {% if page.id == "tools" %} class="selected" {% endif %}><a href="/tools">tools</a></li>
              <li {% if page.id == "join" %} class="selected" {% endif %}><a href="/join">join</a></li>
            </ul>
          </div>

          <div class="markdown-body">
            {{ content }}
          </div>

          <footer>&copy; 2017-{{ "now" | date: "%Y" }} by Between Our Worlds.</footer>
        </div>
      </div>
    </div>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('set', 'anonymizeIp', true);
    ga('create', 'UA-100758411-3', 'auto');
    ga('send', 'pageview');

  </script>
</html>
